@{
    ViewData["Title"] = "Contact";
    ViewData["MediumLink"] = "https://medium.com/@muhammedbuyukkinaci";
    ViewData["SOFLink"] = "https://stackoverflow.com/users/9194709/muhammed-b%c3%bcy%c3%bckk%c4%b1nac%c4%b1";

}

<div class="alert alert-success alert-dismissible fade show" role="alert">

    <div class="col-12 container my-3">
        <h3 class="my-5 text-dark"><b>Communication</b></h3>
        <div>
            <div class="media mt-5" style="overflow: auto;">
                <ul id="media_body_ul" class="media-body" style=" list-style: none;">
                    <li class="my-3" style="font-size: 0.7rem;">
                        <i class="fas fa-phone fa-1x text-success mr-2"></i> +90 552 219 01 50 <br>
                    </li>
                    <li class="my-3" style="font-size: 0.7rem;">
                        <i class="far fa-envelope text-success mr-2"></i> muhammedbuyukkinaci@gmail.com <br>
                    </li>
                    <li class="my-3" style="font-size: 0.7rem;">
                        <i class="fas fa-globe text-success mr-2"></i><a href="https://muhammedbuyukkinaci.com"> muhammedbuyukkinaci.com</a> <br>
                    </li>
                    <li class="my-3" style="font-size: 0.7rem;">
                        <i class="fas fa-home text-success mr-2"></i>Sariyer, Istanbul, Turkey
                    </li>
                    <li class="my-3" style="font-size: 0.7rem;">
                        <i class="far fa-file-pdf text-success mr-2"></i><a style="text-decoration: none;" href="~/others/CV_Muhammed_Buyukkinaci.pdf" download>  Download my resume</a>
                    </li>

                    
                </ul>
            </div>
        </div>
    </div>

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-success alert-dismissible fade show" role="alert">
    <div class="container">
        <h3 class="my-5 text-dark"><b>My Skills</b></h3>
        <div class="col-lg-8">

            <div class="my-4">
                <h4>Data Science <span class="counter">85</span>%</h4>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 85%;" aria-valuenow="85"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="my-4">
                <h4>Deep Learning <span class="counter">70</span>%</h4>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 70%;" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="my-4">
                <h4>Programming <span class="counter">60</span>%</h4>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 60%;" aria-valuenow="60"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="my-4">
                <h4>Statistics & Mathematics <span class="counter">55</span>%</h4>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 55%;" aria-valuenow="55"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="my-4">
                <h4>DevOps <span class="counter">50</span>%</h4>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%;" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-success alert-dismissible fade show" role="alert">

    <div class="container my-5">
        <h3 class="my-5 text-dark"><b>Social Media</b></h3>
        <div>
            <ul id="social_media_pages" style="list-style: none;">
                <li class="mx-3">
                    <a href="https://facebook.com/MuhammedBuyukkinaci">
                        <i class="fab fa-facebook fa-2x"></i>
                    </a>
                </li>

                <li class="mx-3">
                    <a href="https://twitter.com/denememailhesap">
                        <i class="fab fa-twitter fa-2x" style="color: #1DA1F2;"></i>
                    </a>
                </li>
                <li class="mx-3">
                    <a href="https://instagram.com/MuhammedBuyukkinaci">
                        <i class="fab fa-instagram-square fa-2x" style="color: #fb3958;"></i>
                    </a>
                </li>
                <li class="mx-3">
                    <a href="https://muhammedbuyukkinaci.tumblr.com/">
                        <i class="fab fa-tumblr fa-2x" style="color: #35465C;"></i>
                    </a>
                </li>
                <li class="mx-3">
                    <a href="https://goodreads.com/MuhammedBuyukkinaci">
                        <i class="fab fa-goodreads fa-2x" style="color: #553b08;"></i>
                    </a>
                </li>
                <li class="mx-3">
                    <a href="https://www.youtube.com/channel/UCCxdVVANcwwE65w-wEchHUg/featured?view_as=subscriber">
                        <i class="fab fa-youtube fa-2x" style="color: #FF0000;"></i>
                    </a>
                </li>
                <li class="mx-3">
                    <a href="https://www.quora.com/profile/Muhammed-Buyukkinaci">
                        <i class="fab fa-quora fa-2x" style="color: #b92b27;"></i>
                    </a>
                </li>
                <li class="mx-3">
                    <a href="https://www.twitch.tv/MuhammedBuyukkinaci">
                        <i class="fab fa-twitch fa-2x" style="color: #6441a5;"></i>
                    </a>
                </li>
                <li class="mx-3">
                    <a href="https://www.imdb.com/user/ur127182395">
                        <i class="fab fa-imdb fa-2x" style="color: #F5DE50;"></i>
                    </a>
                </li>
                <li class="mx-3">
                    <a href="https://open.spotify.com/user/mubuyuk51">
                        <i class="fab fa-spotify fa-2x" style="color: #1DB954;"></i>
                    </a>
                </li>
            </ul>

        </div>
    </div>

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>




<div class="alert alert-success alert-dismissible fade show" role="alert">


    <div class="container my-5">
        <h3 class="my-5 text-dark"><b>Business Pages</b></h3>
        <div>
            <ul id="social_media_pages" style="list-style: none;">
                <li class="mx-3">
                    <a href="https://linkedin.com/in/MuhammedBuyukkinaci">
                        <i class="fab fa-linkedin fa-2x" style="color: #0E76A8;"></i>
                    </a>
                </li>

                <li class="mx-3">
                    <a href="https://github.com/MuhammedBuyukkinaci">
                        <i class="fab fa-github fa-2x" style="color: #24292E;"></i>
                    </a>
                </li>

                <li class="mx-3">
                    <a href="https://kaggle.com/mbkinaci">
                        <i class="fab fa-kaggle fa-2x" style="color: #2EBEFF;"></i>
                    </a>
                </li>

                <li class="mx-3">
                    <a href= @ViewData["MediumLink"] style="color: black;" >
                        <i class="fab fa-medium fa-2x"></i>
                    </a>
                </li>

                <li class="mx-3">
                    <a href= @ViewData["SOFLink"] style="color: #EF8236" >
                        <i class="fab fa-stack-overflow fa-2x"></i>
                    </a>
                </li>

            </ul>

        </div>
    </div>

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
