@{
    Layout = null;
}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <link rel="icon" href="img/favicon.png" type="image/png">
        <title>Muhammed Buyukkinaci</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="vendors/linericon/style.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="vendors/animate-css/animate.css">
        <link rel="stylesheet" href="vendors/popup/magnific-popup.css">
        <link rel="stylesheet" href="vendors/flaticon/flaticon.css">
		<script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
        <!-- main css -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
        <title>Document</title>
		<style>
			.instagram { width:20px; height:20px;
				background: #f09433; 
				background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
				background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
				background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
			}
		</style>
    </head>
    <body>
        
        <!--================Header Menu Area =================-->
        <header class="header_area">
            <div class="main_menu">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container box_1620">
						<!-- Brand and toggle get grouped for better mobile display -->
						
					</div>
            	</nav>
            </div>
        </header>
        <!--================Header Menu Area =================-->
        
        <!--================Home Banner Area =================-->
        <section class="home_banner_area">
           	<div class="container box_1620">
           		<div class="banner_inner d-flex align-items-center">
					<div class="banner_content">
						<div class="media">
							<div class="d-flex">
								<img src="img/mbk.jpg" alt="" width="500" height="500">
							</div>
							<div class="media-body">
								<div class="personal_text">
									<h3>Muhammed Buyukkinaci</h3>
									<h4>Data Scientist | Industrial Engineer</h4>
									<p>I am trying to engineer a better world using AI.</p>
									<ul class="list basic_info">
										<li><a href="#"><i class="lnr lnr-phone-handset"></i> +90 552 219 01 50</a></li>
										<li><a href="#"><i class="lnr lnr-envelope"></i> muhammedbuyukkinaci@gmail.com</a></li>
										<li><a href="#"><i class="lnr lnr-home"></i>Sariyer, Istanbul</a></li>
									</ul>
									<ul class="list personal_social">
										<li><a href="https://www.github.com/MuhammedBuyukkinaci"><span class="iconify" data-icon="logos:github-icon" data-inline="false"></span></a></li>
										<li><a href="https://www.kaggle.com/mbkinaci"><span class="iconify" data-icon="simple-icons:kaggle" data-inline="false" style="color: #37BAE8;"></a></li>
										<li><a href="https://www.linkedin.com/in/MuhammedBuyukkinaci/"><span class="iconify" data-icon="ant-design:linkedin-fill" data-inline="false" style="color: #1472B1;"></span></a></li>
										<li><a href="https://www.facebook.com/muhammedbuyukkinaci"><span class="iconify" data-icon="logos:facebook" data-inline="false"></span></a></li>
										<li><a href="https://www.instagram.com/muhammedbuyukkinaci/"><span class="iconify instagram" data-icon="ant-design:instagram-outline" data-inline="false"></span></a></li>
										<li><a href="https://twitter.com/denememailhesap"><span class="iconify" data-icon="logos:twitter" data-inline="false"></span></a></li>
										<li><a href="https://muhammedbuyukkinaci.tumblr.com/"><span class="iconify" data-icon="brandico:tumblr" data-inline="false" style="color: #385672;"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Welcome Area =================-->
        <section class="welcome_area p_120">
        	<div class="container">
        		<div class="row welcome_inner">
        			<div class="col-lg-4">
        				<div class="welcome_text">
        					<h4>About Myself</h4>
        					<p>I was born in Mersin, Turkey. I graduated from Bogazici University on January 2018.
								 Now, I am working as a Data Scientist at UrbanStat. If you want to contact with me, send e-mail to muhammedbuyukkinaci@gmail.com .
							</p>
        				</div>
        			</div>
        			<div class="col-lg-8">
        				<div class="tools_expert">
        					<div class="skill_main">
								<div class="skill_item">
									<h4>Data Science <span class="counter">80</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>Deep Learning <span class="counter">70</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>Programming <span class="counter">60</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>Statistics & Mathematics <span class="counter">55</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>DevOps <span class="counter">50</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
							</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Welcome Area =================-->
        
        <!--================My Tabs Area =================-->
        <section class="mytabs_area p_120">
        	<div class="container">
        		<div class="tabs_inner">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<p class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My Experiences</p>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
							<ul class="list">
								<li>
								<span></span>
									<div class="media">
										<div class="d-flex">
											<p>Apr 2018 to Aug 2018</p>
										</div>
										<div class="media-body">
											<h4><a href="http://www.organonanalytics.com/pages/index.php">Organon Analytics</a></h4>
											<p>Junior Data Scientist <br />Istanbul, Turkey</p>
										</div>
									</div>
								</li>
								<li>
								<span></span>
									<div class="media">
										<div class="d-flex">
											<p>Sep 2018 to Oct 2019</p>
										</div>
										<div class="media-body">
											<h4><a href="https://www.turkcell.com.tr/">Turkcell</a></h4>
											<p>Fraud Systems Engineer <br />Istanbul, Turkey</p>
										</div>
									</div>
								</li>
								<li>
								<span></span>
									<div class="media">
										<div class="d-flex">
											<p>Oct 2019 to Present<p style="color: #7CA9FF; opacity:0;">a</p> </p>
										</div>
										<div class="media-body">
											<h4><a href="https://www.urbanstat.com/">UrbanStat</a></h4>
											<p>Data Scientist <br />Istanbul, Turkey</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
        		</div>
        	</div>
        </section>
        <!--================End My Tabs Area =================-->
        
        <!--================Testimonials Area =================-->
        <section class="testimonials_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Testimonials</h2>
        		</div>
        		<div class="testi_inner">
					<div class="testi_slider owl-carousel">
						<div class="item">
							<div class="testi_item">
								<p>Muhammed is a passionate engineer about Data Science. I witness his efforts to Data Science. We worked together at Fraud Operations in Turkcell. </p>
								<h4> <a href="https://www.linkedin.com/in/onurtufekcioglu/">Onur Tufekcioglu</a> </h4>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star-half-o"></i></a>
							</div>
						</div>
						<div class="item">
							<div class="testi_item">
								<p>Muhammed is an engineer who is deeply interested in Data Science. I can testify that he wants to be a full stack IT engineer. </p>
								<h4><a href="https://www.linkedin.com/in/kaya-erdem/">Erdem Kaya</a></h4>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star-half-o"></i></a>
							</div>
						</div>
						<div class="item">
							<div class="testi_item">
								<p>Me and Muhammed graduated from Bogazici University at the same time. We made several great projects during university time.</p>
								<h4> <a href="https://www.linkedin.com/in/taha-huzeyfe-aktas/">Taha Huzeyfe Aktas</a></h4>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star-half-o"></i></a>
							</div>
						</div>
					</div>
        		</div>
        	</div>
        </section>
        <!--================End Testimonials Area =================-->
        
        <!--================Footer Area =================-->
        <footer class="footer_area p_120">
        	<div class="container">
        		<div class="row footer_inner">
        			<div class="col-lg-12 col-sm-12">
        				<aside class="f_widget ab_widget">
        					<p>Do you want to be even more successful? Learn to love learning and growth. The more effort you put into improving your skills,</p>
        					<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        				</aside>
        			</div>
        		</div>
        	</div>
        </footer>
        <!--================End Footer Area =================-->
        
        
        
        
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/popper.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/stellar.js"></script>
        <script src="vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="vendors/isotope/isotope.pkgd.min.js"></script>
        <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="vendors/popup/jquery.magnific-popup.min.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="vendors/counter-up/jquery.waypoints.min.js"></script>
        <script src="vendors/counter-up/jquery.counterup.min.js"></script>
        <script src="js/mail-script.js"></script>
        <script src="js/theme.js"></script>
    </body>
</html>