@{
    ViewData["Title"] = "Projects";
}

<br><br><br>


<div class="row">


        <div class="col-xl-6 my-3">
            <div class="card h-100">
                <div class="card-header">
                    <h5 class="card-title">This Website</h5>
                </div>
                <div class="card-body">

                    <ul>
                        <li class='text-primary'>A Personal Web Application</li>
                        <br>
                        <li class='text-primary'>JS and Bootstrap used in fronend</li>
                        <br>
                        <li class='text-primary'>ASP.NET Core used in backend</li>
                        <br>
                        <li class='text-primary'>Most of Bootstrap components used </li>
                        <br>
                    </ul>


                </div>

                <div class="card-footer">
                    <a href="https://github.com/MuhammedBuyukkinaci/muhammedbuyukkinaci.com"
                        class="btn btn-sm btn-primary">Github link to project</a>
                </div>
            </div>
        </div>




        <div class="col-xl-6 my-3">
            <div class="card h-100">
                <div class="card-header">
                    <h5 class="card-title">TensorFlow MultiClass Image Classification</h5>
                </div>
                <div class="card-body">

                    <ul>
                        <li class='text-primary'>Web scraping data from internet</li>
                        <br>
                        <li class='text-primary'>Clean and clear code</li>
                        <br>
                        <li class='text-primary'>TensorFlow 1 used as ML Framework</li>
                        <br>
                        <li class='text-primary'>Having more than 40 stars on GitHub</li>
                        <br>
                    </ul>

                </div>

                <div class="card-footer">
                    <a href="https://github.com/MuhammedBuyukkinaci/muhammedbuyukkinaci.com"
                        class="btn btn-sm btn-primary">Github link to project</a>
                </div>

            </div>
        </div>




        <div class="col-xl-6 my-3">
            <div class="card h-100">

                <div class="card-header">
                    <h5 class="card-title">DeText</h5>
                </div>

                <div class="card-body">

                    <ul>
                        <li class='text-primary'>CelebA used in the project</li>
                        <br>
                        <li class='text-primary'>Printing texts on faces</li>
                        <br>
                        <li class='text-primary'>Photos with texts as input, original photos as target </li>
                        <br>
                        <li class='text-primary'>A customized UNet model used</li>
                        <br>
                    </ul>

                </div>

                <div class="card-footer">
                    <a href="https://github.com/MuhammedBuyukkinaci/DeText" class="btn btn-sm btn-primary">Github link
                        to
                        project</a>
                </div>
            </div>
        </div>




        <div class="col-xl-6 my-3">
            <div class="card h-100">
                <div class="card-header">
                    <h5 class="card-title">Sentiment Analysis with TensorFlow</h5>
                </div>

                <div class="card-body">

                    <ul>
                        <li class='text-primary'>Amazon Review Data used</li>
                        <br>
                        <li class='text-primary'>Different GRU & LSTM models chosen</li>
                        <br>
                        <li class='text-primary'>Attention used to improve model</li>
                        <br>
                        <li class='text-primary'>Pre-trained word Embeddings used</li>
                        <br>
                    </ul>

                </div>

                <div class="card-footer">
                    <a href="https://github.com/MuhammedBuyukkinaci/TensorFlow-Sentiment-Analysis-on-Amazon-Reviews-Data"
                        class="btn btn-sm btn-primary">Github link to project</a>
                </div>
            </div>
        </div>



</div>

<br><br><br>
