@{
    ViewData["Title"] = "Testimonials";
}

<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h6 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    Onur Tüfekçioğlu<span style="font-size: 0.7rem;" class="ml-1 badge badge-warning">System Engineer at
                        Turkcell</span>
                </button>
                <h6>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                Muhammed is a passionate engineer about Data Science. I witness his efforts to Data Science. We worked
                together at Fraud Operations in Turkcell. We managed Fraud and Credit Control Systems of Turkcell
                together. He was trying to improve his IT skills continuously.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h6 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Erdem Kaya<span style="font-size: 0.7rem;" class="ml-1 badge badge-warning">Machine Learning
                        Engineer at Turkcell</span>
                </button>
            </h6>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                Muhammed is an engineer who is deeply interested in Data Science. I can testify that he wants to be a
                full stack IT engineer.
                He was focusing on End to End Machine Learning. In addition to all of these, his communication skills
                were great.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h6 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    Taha Huzeyfe Aktaş<span style="font-size: 0.7rem;" class="ml-1 badge badge-warning">MSc Student at
                        Ozyegin University</span>
                </button>
            </h6>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                Me and Muhammed graduated from Bogazici University at the same time. We made several projects for
                different courses during university time.
                We also worked together at Turkcell.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingFour">
            <h6 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                    aria-expanded="false" aria-controls="collapseFour">
                    Fatih Öztürk<span style="font-size: 0.7rem;" class="ml-1 badge badge-warning">Data Scientist at
                        h2o.ai</span>
                </button>
            </h6>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                Me and Muhammed worked at UrbanStat more than 9 months. He is a colleague whose communication skills are
                great. We worked on various projects
                together. He was not just a colleague for me but also a good companion. He was able to maintain daily
                jobs of UrbanStat after my disappearance.
            </div>
        </div>
    </div>
</div>