{% extends "base.html" %}
{% load static %}

{% block content_title %}
        <title>Home</title>
{% endblock content_title %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-4 text-center">Hello, world!</h1>
        <p class="lead text-center">Welcome to the personal website of Muhammed Büyükkınacı</p>
        <hr class="my-4">
        
            
        <div class="row col-sm-6" style="margin: auto;">

            <div>
                <img src="{% static 'img/mbk.jpg' %}" alt="" class="card-img-top">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title font-italic text-center text-secondary">Who am I?</h3>
                        <p class="card-text" id="whoami" style="font-size: 1rem;"></p>
                    </div>
                </div>
                
            </div>

        </div>

    </div>

    <script type="text/javascript">

    var i = 0;
    var txt = "{{homepage.home_text}}"
    var speed = 40;

    console.log(txt);

    function typeWriter() {
        if (i < txt.length) {
            document.getElementById("whoami").innerHTML += txt.charAt(i);
            i++;
            setTimeout(typeWriter, speed);
        }
    }

    typeWriter();

    </script>


{% endblock content %}


