<!-- The code below means header.html will be used 
as Layout in this html file -->
{% extends 'base.html' %}

{% block content_title %}
        <title>Categories</title>
{% endblock content_title %}

{% block content %}
    <div class="row">
        {% for cat in categories %}
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">{{ cat.category_title }}</div>
                            <div class="card-text">{{ cat.category_explanation }}</div>
                            <br/><br/>
                            <a href="{{ cat.category_slug }}/" class="btn btn-dark">Click to see more</a>
                        </div>
                    </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
