<footer class="footer ">

    <div class="row">
        <div id="footer_left" class="col-sm-2">

        </div>

        <div id="footer_center" class="col-sm-8 text-muted border-top box-shadow">

            <div class="">

                <div class="container text-center">
                    
                    Muhammed Büyükkınacı -
                    All rights reserved -
                    <a href="{% url 'contact:contact' %}">Contact</a>
                </div>

            </div>

        </div>

        <div id="footer_right" class="col-sm-2">

        </div>

    </div>
</footer>