<div class="mt-5">
    <ul class="list-group list-unstyled" id="sidebar_ul">
        <li class="mx-2 my-2">
            <a class="list-group-item list-group-item-action list-group-item-secondary text-center rounded" href="{% url 'home:home' %}">Home</a>
        </li>
        <li class="mx-2 my-2">
            <a class="list-group-item list-group-item-action list-group-item-success text-center rounded" href="{% url 'contact:contact' %}">Contact</a>
        </li>
        <li class="mx-2 my-2">
            <a class="list-group-item list-group-item-action list-group-item-danger text-center rounded" href="{% url 'youknowme:youknowme' %}">You Know Me?</a>

        </li>
        <li class="mx-2 my-2">
            <a class="list-group-item list-group-item-action list-group-item-warning text-center rounded" href="{% url 'contact:contact' %}">Testimonials</a>
        </li>

        <li class="mx-2 my-2">
            <a class="list-group-item list-group-item-action list-group-item-info text-center rounded" href="{% url 'contact:contact' %}">Photos</a>
        </li>

        <li class="mx-2 my-2">
            <a class="list-group-item list-group-item-action list-group-item-primary text-center rounded" href="{% url 'contact:contact' %}">Projects</a>
        </li>

        <li class="mx-2 my-2">
            <a class="list-group-item list-group-item-action list-group-item-dark text-center rounded" href="{% url 'contact:contact' %}">Monetary Metrics</a>
        </li>
    </ul>
</div>