

<div class="mt-5">
    <ul class="list-group list-unstyled" id="sidebar_ul">
    <li class="mx-2 my-2">
        <a class="list-group-item list-group-item-action list-group-item-secondary text-center "
            asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="mx-2 my-2">
        <a class="list-group-item list-group-item-action list-group-item-success text-center " asp-controller="Home"
            asp-action="Contact">Contact</a>
    </li>
    <li class="mx-2 my-2">
        <a class="list-group-item list-group-item-action list-group-item-danger text-center " asp-controller="Home"
            asp-action="YouKnowMe">You Know Me?</a>

    </li>
    <li class="mx-2 my-2">
        <a class="list-group-item list-group-item-action list-group-item-warning text-center " asp-controller="Home"
            asp-action="Testimonials">Testimonials</a>

    </li>

    <li class="mx-2 my-2">
        <a class="list-group-item list-group-item-action list-group-item-info text-center " asp-controller="Home"
            asp-action="Photos">Photos</a>
    </li>

    <li class="mx-2 my-2">
        <a class="list-group-item list-group-item-action list-group-item-primary text-center " asp-controller="Home"
            asp-action="Projects">Projects</a>
    </li>

    <li class="mx-2 my-2">
        <a class="list-group-item list-group-item-action list-group-item-dark text-center " asp-controller="Home"
            asp-action="MonetaryMetrics">Monetary Metrics</a>
    </li>
</ul>
</div>
<!-- /#wrapper -->